:root {
  --white: #ffffff;
  --yellow-50:#FFF7E1;
  --yellow: #FCE292;
  --red-50: #FBE9E9;
  --green-250: #94D2A7;
  --green-300: #81C995;
  --blue-400: #669ef7;
  --blue-800:#195ABC;
  --grey-50: #F6F7F9;
  --grey-100: #f1f3f4;
  --grey-200: #e9eaee;
  --natural-300:#B4CFBD;

  --black-60: rgb(34, 34, 34, 0.6);
  --black-80: rgb(34, 34, 34, 0.8);
  --black-100: rgb(34, 34, 34);
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}