.cursor-pointer {
  cursor: pointer;
}

.btn {
  @include size-adjust(40px, 40px);
  // border: 1px solid black;
  border-radius: 50px;
  // font-size: 20px;
  // color: var(--blue-400);
  background-color: var(--grey-100);
  /* shadow */
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--grey-200);
  }
}
// .btn-green{
//   background-color: var(--green-250);
//   color: var(--white);
//   box-shadow: var(--box-shadow);
// }

.title {
  @include font-adjust(20px, 700);
  margin-bottom: 0.5em;
  color: var(--black-100);
}
.sub-title {
  @include font-adjust(18px, 700);
  margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
  .sub-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .btn {
    @include size-adjust(60px, 60px);
  }
}