.parking{
  width: 100%;
  height: 40vh;
  .parking-list{
    width: 100%;
    height: 40vh;
    overflow-y: auto;
    .no-info{
      text-align: center;
      margin-top: 1.5em;
      color: var(--black-60);
      font-size: 18px;
    }
  }
  
}


@media screen and (min-width: 768px) {
  .parking{
    // height: 80vh;
    .parking-list{
      margin-top: 1.5em;
      height: 85vh;
    }
  }
}