.parking{
  background-color: var(--white);
  border-radius: 10px 10px 0 0;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  &:last-child{
    text-align: right;
  }
  .close-btn{
    @include svg-adjust(auto, 18px, var(--black-80));
    padding: 1.2em 2em 1.6em;
    // display: flex;
    // align-items: center;
    // justify-content: right;

    &:hover{
      @include svg-adjust(auto, 18px, var(--black-100));
    }
  }
  .parking-list{
    width: 100%;
    height: 40vh;
    overflow-y: auto;
  }
}