.info-container[data-mode="mobile"] {
  
}

.parking-lot-info{
  .back-bar {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid var(--grey-200);
    padding: 0 1em;
  }

  .info-header {
    margin: 2em 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .info-route-link {
      color: var(--blue-400);

      &:hover {
        text-decoration: underline;
        font-weight: 700;
        color: var(--blue-800);
      }
    }
  }

  .info-body {
    line-height: 1.5;
    padding: 0 1em;

    .info-body-group {
      display: flex;
      align-items: center;

      i {
        font-size: 5px;
        margin-right: 1em;
      }

      .info-body-detail {
        color: var(--black-80);
      }
    }
  }

  .info-footer {
    line-height: 1.5;
    margin-top: 2em;
    padding: 0 1em;

    .info-available {
      .available-status {
        margin-bottom: 2em;
        .available-icon{
          margin-left: 0.5em;
          svg{
            width: 30px;
            height: 30px;
          }
        }

        .available {
          font-weight: 400;
          margin-top: 0.5em;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0.5em;
          text-align: center;

          .remain,
          .total {
            background-color: var(--yellow-50);
            padding: 0.5em;

            &.unavailable {
              background-color: var(--red-50);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .info-container[data-mode="mobile"]{
    display: none;
  }
  .parking-lot-info{
    .back-bar {
      height: 60px;
      line-height: 60px;
    }
    .info-area{
      height: 90vh;
      overflow-y: auto;
    }
  }
}