.page-title{
  padding: 0.5em 1em 0.2em;
}

.search{
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 1em;
  // padding: 0.5em 1em;
  // margin: 0 auto 2em;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 0.5em;
  align-items: center;
  .search-input {
    border: none;
    border-radius: 10px;
    padding: 0 1em;
    box-shadow: var(--box-shadow);
    height: 100%;
    font-size: 16px;
    &::placeholder{
      font-size: 12px;
    }
  }
  .btn-group{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0.25em;
    .search-btn{
      @include svg-adjust(auto, 20px, var(--white));
      padding: 0.4em 0.5em;
      background-color: var(--green-250);
      font-size: 14px;
      box-shadow: var(--box-shadow);
      border-radius: 10px;
      &:hover{
        background-color: var(--green-300);
      }
    }
    .search-btn[data-mode="desktop"] {
      display: none;
    }
    .current-location {
      .current-location-input {
        display: none;
      }

      .current-location-span {
        display: block;
        height: 45px;
        line-height: 45px;
        min-width: 80px;
        text-align: center;
        // padding: 0 1em;
        background-color: var(--natural-300);
        color: var(--white);
        font-size: 14px;
        box-shadow: var(--box-shadow);
        border-radius: 10px;

        &:hover {
          background-color: var(--green-300);
        }
      }

      .current-location-input:checked+.current-location-span {
        font-weight: 700;
        background-color: var(--green-300);
      }

    }
  }
}


@media screen and (min-width: 450px) {
  .search {
      grid-template-columns: 3fr 1.5fr;
      grid-gap: 1em;
  }
  .btn-group {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (min-width: 768px) {
  .search {
    height: 55px;
    line-height: 55px;
    .search-input {
      font-size: 18px;
      &::placeholder {
        font-size: 14px;
      }
    }
    .btn-group {
      grid-template-columns: 1fr 1.5fr;
      height: 55px;
      line-height: 55px;

      // .search-btn[data-mode="mobile"] {
      //   display: none;
      // }
      // .search-btn[data-mode="desktop"] {
      //   display: block;
      //   padding: 0.4em 1em;
      //   background-color: var(--green-250);
      //   color: var(--white);
      //   font-size: 18px;
      //   box-shadow: var(--box-shadow);
      //   border-radius: 10px;

      //   &:hover {
      //     background-color: var(--green-300);
      //   }
      // }
      .current-location {
        .current-location-span {
          height: 55px;
          line-height: 55px;
          font-size: 16px;
        }
      }
      
    }
  }
}